## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.userosscache
*.cache
*.vs/
.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## NuGet
*.nupkg
**/packages/*
project.lock.json
project.fragment.lock.json
artifacts/

## Rider / JetBrains
.idea/
*.sln.iml

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## User-specific files
*.rsuser
*.log
